name: ai_models_ens
channels:
  - nvidia
  - pytorch
dependencies:
  - cuda-toolkit=12.2
  - cudnn=8.9
  - pip
  - python=3.10
  - pytorch
  - pytorch-cuda
  - pip:
    - ai-models
    # There is currently a bug with writing out TP
    - ../ai-models-graphcast
    - ai-models-fourcastnetv2
    - jax[cuda12-pip]==0.4.20
    - "jaxlib @ https://storage.googleapis.com/jax-releases/cuda12/jaxlib-0.4.20+cuda12.cudnn89-cp310-cp310-manylinux2014_x86_64.whl"
    - git+https://github.com/deepmind/graphcast.git
    - numcodecs
    - scores
    - seaborn
    - zarr 
    - -e .